.profile__edit-btn {
  grid-area: button;
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  transition: opacity 0.22s ease-out;
  cursor: pointer;
}
.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767.98px) {
  .profile__edit-btn {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}
