.profile__info {
  color: #fff;
  display: grid;
  grid-template-columns: 294px min-content;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name btn"
    "description" ".";
  gap: 7px 18px;
  align-items: baseline;
  max-width: 336px;
}

@media screen and (max-width: 767.98px) {
  .profile__info {
    grid-template-columns: 189px min-content;
    gap: 14px 10px;
    margin-bottom: 33px;
  }
}
