.profile__info {
  color: #fff;
  display: grid;
  grid-template-areas:
    "name button"
    "description description";
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content;
  gap: 7px 18px;
  align-items: baseline;
  justify-items: center;
  max-width: 336px;
}

@media screen and (max-width: 767.98px) {
  .profile__info {
    grid-template-columns: 1fr min-content;
    gap: 14px 10px;
    margin-bottom: 33px;
  }
}
