.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  transition: opacity 0.22s ease-out;
  cursor: pointer;
}
.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767.98px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
